:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background: #fffffe;
    --headline:#2b2c34;
    --paragraph:#2b2c34;
    --button: #6246ea;
    --buttontext: #fffffe;
}
*{
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    var:var(--background)
}
.nav-container{
    display: flex;
    width: 90vw;
    justify-content: space-between;
    align-items: center;
}
.nav-container ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-container li {
    margin: 0 15px;  
}

.nav-container a {
    text-decoration: none;
    color: inherit; 
}
.nav-container a:hover {
    color: var(--button);  
}

.nav-container a#contact-link {
    padding: 8px 12px;
    border-radius: 10px;
    border:#2b2c34 2px solid;
    background-color: var(--background);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.nav-container a#contact-link:hover {
    background-color: var(--button);  
    color: var(--background);  
    border: 2px solid var(--button); 
}

.img-nav{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.principal{
    display: flex;
    margin: 10%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.principal h1{
    color: var(--headline);
    font-size: 70px;
    text-shadow: 0 2px hsl(250, 80%, 60%, 0.5)  ;
}
.principal img{
    width: 250px;
    border-radius: 50%;
}
.principal p{
    margin-top: 3%;
    color: var(--paragraph);
    font-style: italic;
}
.aboutme {
    display: flex;
    margin: 5%;
    border: 1px solid #6146eac4;
    align-items: center;
    border-radius: 10px;
    padding-left: 5%;
    box-shadow: 2px 4px hsl(250, 80%, 60%, 0.7);
}

.aboutme img {
    padding: 0;
}

.aboutme p{
    font-size: 20px;
    font-style: italic;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    gap: 20px; /* Espacio entre las grid-items */
}
.grid-container img{
width: 50%;
}
.grid-item {
    padding: 20px;
    border: 1px solid hsl(250, 80%, 60%, 0.3); /* Borde para separar las grid-items */
    border-radius: 10px; /* Bordes redondeados */
    text-align: center;
}
.grid-container ul{
    list-style: none;
}

.frontend {
    grid-column: 1;
    grid-row: 1;
}

.sales {
    grid-column: 2;
    grid-row: 1;
}

.designer {
    grid-column: 3;
    grid-row: 1;
}

.proyects {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.proyect-item-central {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.proyect-item-central h2 {
    font-size: 2em;
    margin: 3%;
}

.proyect-item1 {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proyect-item1 h4 {
    font-size: 1.5em;
}

.proyect-item1 img {
    margin: 3%;
    width: 90%;
    max-height: 100%;
}

.testimonials-container {
    margin-top: 25%;
    display: flex;
    position: relative;
    max-width: 900px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-left: 16%;
    box-shadow: 5px 5px 10px hsl(250, 80%, 60%, 0.5);
    border: 2px solid hsl(250, 80%, 60%, 0.5);
    border-radius: 10px;
}

.testimonial {
    display: none;
    text-align: center;
    padding: 20px;
    background-color: var(--background);
}

.testimonial p {
    margin-bottom: 10px;
    color: var(--paragraph);
}
.author {
    font-style: italic;
    color: var(--paragraph);
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%; /* Puedes ajustar este valor según sea necesario */
    transform: translateY(-50%);
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}
.prev-btn:hover,
.next-btn:hover {
    color: var(--button); 
}
.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}
.contact-me {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 15px;
    resize: none;
}

#contactme-button {
    background-color: #6146eac5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#contactme-button:hover {
    background-color: #513bcc;
}

.contact-info {
    margin-top: 20px;
}
.social-buttons {
    position: fixed;
    top: 50%; /* Ajusta según sea necesario */
    right: 0;
    transform: translateY(-50%);
}

.social-buttons button {
    width: 50px;
    height: 50px;
    margin-bottom: 10px; 
    box-shadow: 0 2px 4px #2b2c34 ;
}

.social-buttons img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    transition: transform 0.3s ease; /* Agregamos una transición para que sea suave */
}

.social-buttons button:hover img {
    cursor: pointer;
    transform: scale(1.2); /* Efecto de escala al pasar el ratón */
}

.contact-info p{
    font-style: italic;
}
.call-to-action{
    font-style: italic;
    text-decoration: underline;
}

@media only screen and (max-width: 900px) {
    .principal {
        margin: 5%; /* Reduzco el margen */
    }
    .aboutme {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        border: 1px solid #6146eac4;
        align-items: center;
        border-radius: 10px;
        padding: 5%;
        box-shadow: 2px 4px hsl(250, 80%, 60%, 0.7);
    }
    
    .aboutme img {
        width: 50%;
        border-radius: 50%;
        margin-top: 20px; /* Espacio entre el texto y la imagen */
    }
    
    .aboutme p {
        font-size: 16px; /* Reduzco el tamaño del texto */
        width: 100%; /* Ocupa todo el ancho disponible */
        margin-top: 20px; /* Espacio entre el texto y la imagen */
    }
    .principal h1 {
        font-size: 50px; /* Reduzco el tamaño del texto principal */
    }

    img {
        width: 100%; /* Ajusto el ancho de las imágenes en la cuadrícula */
    }

    .proyects {
        height: auto; /* Permito que la altura sea variable */
    }

    .proyect-item-central h2 {
        font-size: 1.5em; /* Reduzco el tamaño del texto central de proyectos */
    }

    .proyect-item1 h4 {
        font-size: 1.2em; /* Reduzco el tamaño del texto de los proyectos */
    }
}