:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background: #fffffe;
    --headline:#2b2c34;
    --paragraph:#2b2c34;
    --button: #6246ea;
    --buttontext: #fffffe;
}
*{
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    var:var(--background)
}
.nav-container{
    display: flex;
    width: 90vw;
    justify-content: space-between;
    align-items: center;
}
.nav-container ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-container li {
    margin: 0 15px;  
}

.nav-container a {
    text-decoration: none;
    color: inherit; 
}
.nav-container a:hover {
    color: var(--button);  
}

.nav-container a#contact-link {
    padding: 8px 12px;
    border-radius: 10px;
    border:#2b2c34 2px solid;
    background-color: var(--background);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.nav-container a#contact-link:hover {
    background-color: var(--button);  
    color: var(--background);  
    border: 2px solid var(--button); 
}

.img-nav{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.principal{
    display: flex;
    margin: 10%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.principal h1{
    color: var(--headline);
    font-size: 70px;
    text-shadow: 0 2px hsl(250, 80%, 60%, 0.5)  ;
}
.principal img{
    width: 250px;
    border-radius: 50%;
}
.principal p{
    margin-top: 3%;
    color: var(--paragraph);
    font-style: italic;
}
.aboutme{
    display: flex;
    margin: 5%;
    border: 1px solid #6146eac4;
    border-radius: 10px;
    padding: 5%;
    box-shadow: 2px 4px hsl(250, 80%, 60%, 0.7);
}
.aboutme h1{
    font-size: 50px;
    width: 50%;
    margin-top: 2%;
}
.aboutme p{
    width: 50%;
}



.testimonials-container {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.testimonial {
    display: none;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonial p {
    margin-bottom: 10px;
}
.author {
    font-style: italic;
    color: #777;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}