*{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}
body{
    padding: 0;
    margin: 0;
}
nav {
    color: white;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}

nav img {
    width: 100px;
    float: left;
    margin-right: 20px;
}

nav ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 20px;
    display: inline;

}

nav li {
    display: inline;
    margin-right: 20px;
}
.container_Img {
    width: 100%;
    margin: 5px;
    text-align: center;
    white-space: nowrap;
    max-width: 1000px;
    margin: 0 auto;
}

.product {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 20%; 
    max-width: 100%; 
    margin: 0 2%; 
}

.product img {
    width: 100%;
    height: auto;
}

.product h6,
.product p {
    text-align: center;
    margin: 5px 0;
    color: #333;
}

button{
    display: block;
    margin: 0 auto;
}