*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.logo img {
    max-width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}


nav a:hover {
    color: #007bff; 
}
.contentPrincipal {
    display: flex;
    height: 75vh;
    align-items: center;
    justify-content: space-around; /* Espaciado entre .content-left y .content-right */
    flex-wrap: wrap; /* Permite que los elementos se colapsen en una columna en pantallas pequeñas */
}

.content-left,
.content-right {
    width: 48%; /* Ajusta según sea necesario */
    text-align: center;
    font-style: italic;
}

.content-right {
    background-color: #d1d1d1;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px; /* Ajusta según sea necesario */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
}

button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
    .content-left,
    .content-right,
    .contentWDID
    .contentEnd,
    .content1,
    .content2,
    .content3,
    .content4{
        width: 100%; /* Ajusta según sea necesario para pantallas pequeñas */
    }
}
button:hover {
    background-color: #0056b3;
}


p{
    font-size: 28px;
}

.contentWDID {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.content-row {
    display: flex;
}

h3 {
    text-align: center;
    font-size: 32px;
}

h4{
    font-size: 30px;
    text-decoration: underline;
}
.content1,
.content2,
.content3,
.content4 {
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    background-color: rgb(163, 161, 161);
    border-radius: 10px;
    margin: 10px;
    font-size: 26;
}

.education {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 20px;
    border: 1px solid #e6a8a8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(230, 168, 168, 0.1);
}

.course {
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #f2caca;
    border-radius: 5px;
    background-color: #fdebeb;
}

.contentEnd{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 5%;
}
.skills , .languages{
    background-color:  #f2caca ;
    border-radius: 10px;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    margin: 20px;
}

.skills ul li,
.languages ul li {
    font-size: 22px; 
    justify-content: baseline;
    text-align: center;
    padding-top: 10px;
    list-style: none;
    font-style: italic;
}

b{
    color: #fa3e3e;
    font-style: oblique;
}